<div class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <h1>Epics</h1>
  <button mat-fab color="primary" (click)="onAddEpic()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-container *ngIf="epics$ | withLoading | ngrxPush as state">
  <ng-container *ngIf="state.value">
    <div>
      <app-epic-list
        [epics]="state.value"
        (editClicked)="onEditEpic($event)"
        (deleteClicked)="onDeleteEpic($event)"
      ></app-epic-list>
    </div>
  </ng-container>
  <ng-container *ngIf="state.error"> Error {{ state.error }} </ng-container>
  <ng-container *ngIf="state.loading">
    <ngx-skeleton-loader></ngx-skeleton-loader>
  </ng-container>
</ng-container>
