<h1 mat-dialog-title>Dokument erstellen</h1>
<div mat-dialog-content>
  <div [formGroup]="form" class="form" fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
      <mat-error *ngIf="hasRequiredError('title')">Titel ist verpflichtend</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Epic</mat-label>

      <mat-chip-list #epicList aria-label="Epicausahl">
        <mat-chip (removed)="removeEpic()" *ngIf="selectedEpic; else textInput">
          {{ selectedEpic?.name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>

        <ng-template #textInput>
          <input #epicInput [matAutocomplete]="epicAuto" [matChipInputFor]="epicList" formControlName="epic" placeholder="Suche..." />
        </ng-template>
      </mat-chip-list>
      <mat-autocomplete #epicAuto="matAutocomplete" (optionSelected)="selectEpic($event)" autoActiveFirstOption>
        <mat-option *ngFor="let epic of filteredEpics$ | async" [value]="epic">
          {{ epic.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-chip-list">
      <mat-label>Labels</mat-label>
      <mat-chip-list #labelList aria-label="Labelauswahl">
        <mat-chip (removed)="removeLabel(label)" *ngFor="let label of selectedLabels">
          {{ label?.name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input #labelInput [matAutocomplete]="labelAuto" [matChipInputFor]="labelList" formControlName="label" placeholder="Suche..." />
      </mat-chip-list>
      <mat-autocomplete #labelAuto="matAutocomplete" (optionSelected)="selectLabel($event)" autoActiveFirstOption>
        <mat-option *ngFor="let label of filteredLabels$ | async" [value]="label">
          {{ label?.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Beschreibung</mat-label>
      <textarea formControlName="description" matInput rows="3"></textarea>
    </mat-form-field>

    <mat-divider></mat-divider>

    <div>
      <app-file-upload [deleteUri]="deleteUri" [files]="files" [uploadUri]="uploadUri"></app-file-upload>
    </div>

    <mat-divider></mat-divider>

    <div>
      <app-document-references [references]="references"></app-document-references>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Abbrechen</button>
  <button
    (click)="onSaveClick()"
    *ngIf="{ status: form.statusChanges | async } as formState"
    [disabled]="formState?.status ? formState?.status === 'INVALID' : form.invalid"
    mat-button
  >
    Speichern
  </button>
</div>
