<div *ngIf="loading$ | ngrxPush as loading">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list *ngIf="isHandset$ | ngrxPush as isHandset" [cols]="isHandset.matches ? 1 : 2" rowHeight="350px">
    <mat-grid-tile [colspan]="isHandset.matches ? 1 : 1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Statistiken
            <button (click)="requestStats()" class="action-button" mat-icon-button>
              <mat-icon>refresh</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="!loading.count; else loadingTemplate" class="dashboard-card-content">
            <ng-container *ngIf="stats$ | ngrxPush as stats">
              <mat-list>
                <mat-list-item>Dokumente {{ stats.documentCount }}</mat-list-item>
                <mat-list-item>Epics {{ stats.epicCount }}</mat-list-item>
                <mat-list-item>Labels {{ stats.labelCount }}</mat-list-item>
                <mat-list-item>Assets {{ stats.assetCount }}</mat-list-item>
                <mat-list-item>Referenzen {{ stats.referenceCount }}</mat-list-item>
              </mat-list>
            </ng-container>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="isHandset.matches ? 1 : 1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Neuindizierung</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="!loading.reindex; else loadingTemplate" class="dashboard-card-content reindex-wrapper">
            <p>Erzwingen einer Neuindizierung aller Dokumente</p>
            <button (click)="reindex()" mat-raised-button>Starten</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="isHandset.matches ? 1 : 1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Zuletzt erstellte Dokumente
            <button (click)="requestLastCreated()" class="action-button" mat-icon-button>
              <mat-icon>refresh</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="!loading.lastCreated; else loadingTemplate" class="dashboard-card-content">
            <ng-container *ngIf="lastCreated$ | ngrxPush as lastCreated">
              <mat-nav-list>
                <a *ngFor="let doc of lastCreated" [queryParams]="{ documentId: doc.id }" [routerLink]="['/', 'search']" mat-list-item>
                  <div mat-line>{{ doc.title }}</div>
                  <div mat-line>Created: {{ doc.created | date }}</div>
                  <div mat-line>Last Updated: {{ doc.lastUpdated | date }}</div>
                </a>
              </mat-nav-list>
            </ng-container>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="isHandset.matches ? 1 : 1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Zuletzt geänderte Dokumente
            <button (click)="requestLastUpdated()" class="action-button" mat-icon-button>
              <mat-icon>refresh</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="!loading.lastUpdated; else loadingTemplate" class="dashboard-card-content">
            <ng-container *ngIf="lastUpdated$ | ngrxPush as lastUpdated">
              <mat-nav-list>
                <a *ngFor="let doc of lastUpdated" [queryParams]="{ documentId: doc.id }" [routerLink]="['/', 'search']" mat-list-item>
                  <div mat-line>{{ doc.title }}</div>
                  <div mat-line>Created: {{ doc.created | date }}</div>
                  <div mat-line>Last Updated: {{ doc.lastUpdated | date }}</div>
                </a>
              </mat-nav-list>
            </ng-container>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #loadingTemplate>
  <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%; height: 256px">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
