.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.action-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  overflow-y: auto;
  max-height: 256px;
}

.reindex-wrapper {
  padding: 1rem;
}

mat-nav-list,
mat-list {
  flex-grow: 1;
  overflow: auto;
}
