<div class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <h1>Labels</h1>
  <button mat-fab color="primary" (click)="onAddLabel()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-container *ngIf="labels$ | withLoading | ngrxPush as state">
  <ng-container *ngIf="state.value">
    <div>
      <app-label-list
        [labels]="state.value"
        (editClicked)="onEditLabel($event)"
        (deleteClicked)="onDeleteLabel($event)"
      ></app-label-list>
    </div>
  </ng-container>
  <ng-container *ngIf="state.error"> Error {{ state.error }} </ng-container>
  <ng-container *ngIf="state.loading">
    <ngx-skeleton-loader></ngx-skeleton-loader>
  </ng-container>
</ng-container>
