@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/theming/palette.scss' as theme;
$primary-color: mat.get-color-from-palette(theme.$primary, 400);
$input-width: 35rem;

.searchContainer {
  font-size: 16px;
  padding: 8px;

  .mat-form-field {
    border-radius: 5px;
    background-color: $primary-color;

    .mat-form-field-wrapper {
      margin-bottom: -1.25em;
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}

.drop-down-input {
  width: $input-width;
}

.drop-down-input-active {
  z-index: 100000;
}

.drop-down-panel {
  width: $input-width;
  min-height: 5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.asset-chip-list {
  padding-top: 4px;
}
