.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer {
  border-right: none;
}

.container {
  margin: 20px;
}

.logo {
  width: 100%;
  height: auto;
}

.logo-wrap {
  padding-right: 0px;
}

.search-wrap {
  padding-left: 0px;
}

.toolbar {
  min-height: 80px !important;
  height: 80px !important;
}

.primary-toolbar > * {
  padding: 12px;
}

.new-button-container {
  padding: 16px;
}

.mat-list-item {
  border-radius: 0 2em 2em 0;
}

.mat-nav-list a:hover {
  background-color: rgb(235, 235, 235) !important;
}

.mat-nav-list a.active {
  background-color: lightgrey;
}
