<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-root">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding="0,6" matTreeNodePaddingIndent="16" class="tree-item">
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>

  <mat-tree-node [routerLinkActive]="['active']" *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding="0,6">
    <button [disableRipple]="true"  (click)="expandedChange(node)" mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>

    <div fxFlex class="link"  *ngIf="node.name | lowercase | slice : 0 :-1 as link" [routerLink]="['/', link]">
        {{node.name}}
    </div>
  </mat-tree-node>
</mat-tree>
